aniso8601==8.1.1
appdirs==1.4.4
asn1crypto
attrs==20.3.0
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
cryptography
dill
docker==4.4.4
docker-pycreds==0.4.0
Flask
Flask-RESTful==0.3.8
flask-restplus==0.13.0
flask-restx==0.2.0
flask-swagger
idna
itsdangerous
Jinja2
joblib
jsonschema==3.2.0
MarkupSafe==1.1.1
nodejs==0.1.1
npm==0.1.1
numpy
optional-django==0.1.0
packaging 
pandas 
pycparser 
pyOpenSSL 
pyparsing 
pyrsistent==0.17.3
PySocks 
python-dateutil 
pytz
PyYAML==5.4.1
requests 
scikit-learn 
scipy 
six 
threadpoolctl 
urllib3 
websocket-client 
Werkzeug 
win-inet-pton 
wincertstore==0.2
gunicorn